.account-info {
    display: flex;
    padding: var(--padding-lg);
    flex-direction: column;
    gap: var(--gap-lg);
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
    background-color: var(--color-primary-200);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    list-style-type: none;
}

.account-info > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: var(--color-text);
}

.account-info > li > *:first-child {
    font-weight: bold;
}

.account-info > li+li {
    border-top: 1px solid var(--color-primary-300);
    padding-top: calc(var(--padding-md) + 1px);
}