.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-trigger {
    display: inline-flex;
    align-items: center;
    gap: var(--gap-xs);
    padding: 0;
    background: none;
    border: none;
    font-size: var(--font-size-lg);
    color: inherit;
    cursor: pointer;
    transition: color var(--transition-duration-fast) var(--transition-timing-function);
}

.dropdown-trigger:hover {
    color: var(--color-primary-200);
}

header.scrolled .dropdown-trigger:hover {
    color: var(--color-primary-700);
}

.dropdown-content {
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: relative;
    flex-direction: column;
    list-style: none;
    gap: var(--padding-xs);
    padding: var(--padding-xs);
    background-color: var(--color-white-100);
    min-width: 160px;
    width: auto;
    box-shadow: var(--shadow-md);
    z-index: var(--z-index-dropdown);
    border-radius: var(--border-radius-md);
}

.dropdown-content-wrapper {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    top: 100%;
    left: 0;
    z-index: var(--z-index-dropdown);
    width: max-content;
    min-width: 100%;
}

.dropdown-content a {
    color: var(--color-text);
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-sm);
    text-decoration: none;
    white-space: nowrap;
    display: block;
    transition: background-color var(--transition-duration-fast) var(--transition-timing-function);
}

.dropdown-content a:hover {
    background-color: var(--color-primary-200);
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content-wrapper {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.dropdown:hover .dropdown-trigger > span.iconify {
    transform: rotate(180deg);
}

.dropdown-content-wrapper.right {
    left: auto;
    right: 0;
}

.dropdown-trigger > span.iconify {
    transition: transform var(--transition-duration-fast) var(--transition-timing-function);
    transform: rotate(0deg);
}

.dropdown-trigger.active > span.iconify {
    transform: rotate(180deg);
}

/* Sub Dropdown */
.sub-dropdown {
    position: relative;
    width: 100%;
    max-width: calc(15rem - var(--padding-lg) * 2);
}

.sub-dropdown-trigger {
    display: inline-flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    min-width: fit-content;
    gap: var(--gap-xs);
    background: none;
    text-align: left;
    border: none;
    font-size: var(--font-size-md);
    cursor: pointer;
    color: var(--color-text);
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-sm);
    text-decoration: none;
    transition: background-color var(--transition-duration-fast) var(--transition-timing-function);
}

.sub-dropdown-trigger > span:first-of-type {
    width: 100%;
}

.sub-dropdown-trigger:hover {
    background-color: var(--color-primary-200);
}

.sub-dropdown-content {
    display: none;
    flex-direction: column;
    list-style: none;
    gap: var(--padding-xs);
    background-color: var(--color-white-100);
    width: 100%;
    padding-left: var(--padding-sm);
    z-index: var(--z-index-dropdown);
    border-radius: var(--border-radius-md);
}

.sub-dropdown-content a {
    color: var(--color-text);
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-sm);
    text-decoration: none;
    display: block;
    transition: background-color var(--transition-duration-fast) var(--transition-timing-function);
}

.sub-dropdown-content a:hover {
    background-color: var(--color-primary-200);
}

.sub-dropdown-content.active {
    display: inline-flex;
}

.sub-dropdown-trigger > span.iconify {
    transition: transform var(--transition-duration-fast) var(--transition-timing-function);
    transform: rotate(0deg);
}

.sub-dropdown-trigger.active > span.iconify {
    transform: rotate(180deg);
}

/* Responsive behavior */
@media screen and (max-width: 728px) {
    .dropdown {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        height: auto;
    }

    .dropdown.active {
        height: auto;
    }

    .dropdown-content-wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: static;
        top: 100%;
        left: 0;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        z-index: 10;
        width: max-content;
        min-width: 100%;
    }

    .dropdown-content {
        display: none;
        box-shadow: none;
        height: auto;
        border-radius: 0;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        padding-left: var(--padding-lg);
        background-color: transparent;
        justify-content: flex-start;
        text-align: left;
        position: relative;
    }

    .dropdown-trigger {
        width: fit-content;
        flex-direction: row-reverse;
    }

    .dropdown-content.active {
        display: flex;
    }

    .dropdown-trigger:hover {
        color: var(--color-primary-700);
    }

    .dropdown-content a {
        padding: var(--padding-sm);
    }

    .sub-dropdown {
        max-width: calc(15rem - var(--padding-lg) * 2)
    }

    .sub-dropdown-trigger {
        width: 100%;
        padding: var(--padding-sm);
        text-align: left;
    }

    .sub-dropdown-content {
        position: relative;
        left: 0;
        top: 0;
        max-width: calc(15rem - var(--padding-lg) * 2);
        padding-left: var(--padding-lg);
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
    }

    .sub-dropdown-trigger {
        flex-direction: row-reverse;
    }
}