.status-embeds {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
}

.status-embed {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.status-embed iframe {
    border: none;
    border-radius: var(--border-radius-md);
}

.privacy-embed {
    padding: var(--padding-lg);
}

.calendar-embed {
    border: 8px solid var(--color-white-100);
    border-radius: var(--border-radius-md);
}

/* Mobile styles */

@media (max-width: 768px) {
    .status-embeds {
        width: 100%;
    }
    .status-embed {
        width: 100%;
    }
    .privacy-embed {
        padding: var(--padding-md);
    }
}