header {
    z-index: var(--z-index-header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    background-color: transparent;
    padding: 0;
    height: calc(var(--size-xl) + (var(--padding-md) * 2));
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    color: var(--color-white-100);
    transition: background-color var(--transition-duration-fast) var(--transition-timing-function);
}

header.scrolled > nav {
    background-color: var(--color-white-100);
    color: var(--color-text);
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: var(--gap-md);
    height: 100%;
    width: fit-content;
    padding: 0 var(--padding-md);
    text-decoration: none;
    color: inherit;
    font-size: var(--font-size-lg);
}

.navbar-brand:hover {
    color: inherit;
}

.navbar-brand img {
    height: 32px;
    width: auto;
}

.navbar-left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.navbar-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-md);
    align-items: center;
    height: 100%;
    width: fit-content;
    padding: 0 var(--padding-md);
}

.navbar-items > li {
    height: 100%;
}

.navbar-items > li > a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: var(--font-size-lg);
}

.navbar-items .dropdown, .navbar-items .dropdown-trigger {
    height: 100%;
}

header.scrolled > nav > .navbar-items > li > a {
    color: inherit;
}

header.scrolled > nav > .navbar-items > li > a:hover {
    color: var(--color-primary-500);
}

.navbar-items > li > a:hover {
    color: var(--color-primary-200);
}

.router-link-active:not(.navbar-brand) {
    color: var(--color-primary-300) !important;
    cursor: default;
    pointer-events: none;
}

.navbar-toggle {
    display: inline-block;
    height: var(--size-xl);
    width: var(--size-xl);
    background: none;
    border: none;
    color: inherit;
    transition: transform var(--transition-duration-slow) var(--transition-slow-timing-function);
}

.navbar-toggle-wrapper {
    display: none;
    position: relative;
    padding: var(--padding-md);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: calc(var(--z-index-header-items) + 1);
}

.navbar-toggle-wrapper.active {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-left:has(.navbar-toggle-wrapper.active) > .navbar-brand {
    left: calc(var(--padding-md) * 4);
    position: relative;
}

.navbar-toggle-wrapper.active > .navbar-toggle {
    transform: rotate(90deg);
    color: var(--color-text);
}

.navbar-toggle-line-1, .navbar-toggle-line-2, .navbar-toggle-line-3 {
    transition: transform var(--transition-duration-slow) var(--transition-slow-timing-function), opacity var(--transition-duration-slow) var(--transition-slow-timing-function);
}

.navbar-toggle-wrapper.active > .navbar-toggle .navbar-toggle-line-1 {
    transform: rotate(45deg) translate(0,5px);
}

.navbar-toggle-wrapper.active > .navbar-toggle .navbar-toggle-line-2 {
    transform: rotate(135deg);
    opacity: 0;
}

.navbar-toggle-wrapper.active > .navbar-toggle .navbar-toggle-line-3 {
    transform: rotate(135deg) translate(0,-5px)
}

/* Responsive Behavior */

@media screen and (max-width: 728px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
    }

    header.scrolled > nav {
        background-color: transparent;
        color: var(--color-white-100);
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .navbar-brand {
        justify-content: flex-start;
        width: 100%;
        padding: 0;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100vh;
        overflow-y: scroll;
        background-color: var(--color-red-200);
        z-index: var(--z-index-header-items);
        top: 0;
        left: 0;
        color: var(--color-text);
        padding-top: calc(var(--size-xl) + (var(--padding-md) * 2));
        transform: translateX(-100%);
        transition: transform var(--transition-duration-fast) var(--transition-timing-function);
    }

    .navbar-items {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        width: 15rem;
        height: 100%;
        padding: 0;
        gap: var(--gap-lg);
    }

    .router-link-active:not(.navbar-brand) {
        color: var(--color-primary-700) !important;
        cursor: default;
        pointer-events: none;
    }

    .navbar-items > li {
        display: flex;
        width: 100%;
        text-align: left;
        position: relative;
        left: -36px;
        height: auto;
        opacity: 0;
        transition: left var(--transition-duration-slow) var(--transition-slow-timing-function), opacity var(--transition-duration-slow) var(--transition-slow-timing-function);
    }

    .navbar-collapse.active {
        transform: translateX(0);
    }

    .navbar-toggle-wrapper {
        display: flex;
    }

    .navbar-collapse > .navbar-items > li {
        left: 0;
        opacity: 1;
    }

    /* Delays */
    .navbar-items > li:nth-child(1) {
        transition-delay: .175s;
    }

    .navbar-items > li:nth-child(2) {
        transition-delay: .225s;
    }

    .navbar-items > li:nth-child(3) {
        transition-delay: .275s;
    }

    .navbar-items > li:nth-child(4) {
        transition-delay: .325s;
    }

    .navbar-items > li:nth-child(5) {
        transition-delay: .375s;
    }

    .navbar-items > li:nth-child(6) {
        transition-delay: .425s;
    }

    .navbar-items .dropdown, .navbar-items .dropdown-trigger {
        height: auto;
    }
}