@keyframes skeleton-loading {
    0% {
        background-color: var(--color-white-300);
    }
    50% {
        background-color: var(--color-white-400);
    }
    100% {
        background-color: var(--color-white-300);
    }
}

.skeleton {
    width: 100%;
    height: var(--size-md);
    background-color: var(--color-skeleton-background);
    animation: skeleton-loading 1.5s infinite ease-in-out;
    border-radius: var(--border-radius-sm);
}