#__nuxt {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}

main.index {
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--color-white-100);
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: overlay;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section.min-h-screen {
    min-height: 100dvh;
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--padding-md);
}

.container.row {
    flex-direction: row;
}
