h1 {
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-semibold);
}

h2 {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-semibold);
}

h3 {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-semibold);
}

h4 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

h5 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
}

h6 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
}

p {
    font-size: var(--base-font-size);
    line-height: 1;
    color: var(--color-text);
}

a {
    color: var(--color-primary-500);
    transition: color var(--transition-duration-fast) var(--transition-timing-function);
}

a.no-text-decoration {
    text-decoration: none;
}

a:hover {
    color: var(--color-primary-600);
}

a:focus-visible {
    outline: 2px solid var(--color-primary-600);
    outline-offset: 2px;
}