.image-link {
    display: inline-block;
    width: auto;
    height: auto;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.image-link img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-sm);
}

.image-link:before {
    content: url("https://api.iconify.design/majesticons/open.svg?color=currentColor");
    position: absolute;
    top: var(--spacing-md);
    right: var(--spacing-md);
    color: var(--color-black-900);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white-100-transparent);
    border-radius: .25rem;
    opacity: 0;
    transition: opacity var(--transition-duration-fast) var(--transition-timing-function);
}

.image-link:hover:before {
    opacity: 1;
}

.title-icon {
    width: var(--size-8xl);
    height: var(--size-8xl);
}

/* Font Classes */

.font-ms {
    font-size: var(--font-size-sm);
}

.font-md {
    font-size: var(--font-size-md);
}

.font-lg {
    font-size: var(--font-size-lg);
}

.font-xl {
    font-size: var(--font-size-xl);
}

.font-2xl {
    font-size: var(--font-size-2xl);
}

.font-3xl {
    font-size: var(--font-size-3xl);
}

.font-4xl {
    font-size: var(--font-size-4xl);
}

.font-5xl {
    font-size: var(--font-size-5xl);
}

.font-6xl {
    font-size: var(--font-size-6xl);
}

.font-7xl {
    font-size: var(--font-size-7xl);
}

.font-8xl {
    font-size: var(--font-size-8xl);
}

.font-xs {
    font-size: var(--font-size-xs);
}

.font-bold {
    font-weight: var(--font-weight-bold);
}

.font-semibold {
    font-weight: var(--font-weight-semibold);
}

.font-medium {
    font-weight: var(--font-weight-medium);
}

.font-normal {
    font-weight: var(--font-weight-normal);
}

.font-light {
    font-weight: var(--font-weight-light);
}

/* Flexbox Classes */

.center {
    justify-content: center;
    align-items: center;
}

/* Width and Height Classes */

.w-3\/4 {
    width: 75%;
}

.w-1\/2 {
    width: 50%;
}

.w-1\/3 {
    width: 33.3333%;
}

.w-1\/4 {
    width: 25%;
}

.min-h-10xl {
    min-height: 25rem;
    height: unset;
}

/* Padding Classes */
.padding-xs {
    padding: var(--padding-xs);
}

.padding-sm {
    padding: var(--padding-sm);
}

.padding-md {
    padding: var(--padding-md);
}

.padding-lg {
    padding: var(--padding-lg);
}

.padding-xl {
    padding: var(--padding-xl);
}

.padding-2xl {
    padding: var(--padding-2xl);
}

/* Gap Classes */

.gap-xs {
    gap: var(--gap-xs);
}

.gap-sm {
    gap: var(--gap-sm);
}

.gap-md {
    gap: var(--gap-md);
}

.gap-lg {
    gap: var(--gap-lg);
}

.gap-xl {
    gap: var(--gap-xl);
}

.gap-2xl {
    gap: var(--gap-2xl);
}

.gap-3xl {
    gap: var(--gap-3xl);
}

.gap-4xl {
    gap: var(--gap-4xl);
}

/* Background Classes/Image Components */

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-secondary-wallpaper {
    background-image: url('/img/background-secondary.svg');
}

.bg-tertiary-wallpaper {
    background-image: url('/img/background-tertiary.svg');
}

.bg-primary {
    background-color: var(--color-primary-100);
}

.bg-primary-50 {
    background-color: var(--color-primary-50);
}

.bg-primary-100 {
    background-color: var(--color-primary-100);
}

.bg-primary-200 {
    background-color: var(--color-primary-200);
}

.bg-primary-300 {
    background-color: var(--color-primary-300);
}

.bg-primary-400 {
    background-color: var(--color-primary-400);
}

.bg-primary-500 {
    background-color: var(--color-primary-500);
}

.bg-primary-600 {
    background-color: var(--color-primary-600);
}

.bg-primary-700 {
    background-color: var(--color-primary-700);
}

.bg-primary-800 {
    background-color: var(--color-primary-800);
}

.bg-primary-900 {
    background-color: var(--color-primary-900);
}

.bg-primary-950 {
    background-color: var(--color-primary-950);
}

.bg-secondary {
    background-color: var(--color-secondary-100);
}

.bg-secondary-50 {
    background-color: var(--color-secondary-50);
}

.bg-secondary-100 {
    background-color: var(--color-secondary-100);
}

.bg-secondary-200 {
    background-color: var(--color-secondary-200);
}

.bg-secondary-300 {
    background-color: var(--color-secondary-300);
}

.bg-secondary-400 {
    background-color: var(--color-secondary-400);
}

.bg-secondary-500 {
    background-color: var(--color-secondary-500);
}

.bg-secondary-600 {
    background-color: var(--color-secondary-600);
}

.bg-secondary-700 {
    background-color: var(--color-secondary-700);
}

.bg-secondary-800 {
    background-color: var(--color-secondary-800);
}

.bg-secondary-900 {
    background-color: var(--color-secondary-900);
}

.bg-secondary-950 {
    background-color: var(--color-secondary-950);
}

.bg-warning {
    background-color: var(--color-warning-100);
}

.bg-warning-50 {
    background-color: var(--color-warning-50);
}

.bg-warning-100 {
    background-color: var(--color-warning-100);
}

.bg-warning-200 {
    background-color: var(--color-warning-200);
}

.bg-warning-300 {
    background-color: var(--color-warning-300);
}

.bg-warning-400 {
    background-color: var(--color-warning-400);
}

.bg-warning-500 {
    background-color: var(--color-warning-500);
}

.bg-warning-600 {
    background-color: var(--color-warning-600);
}

.bg-warning-700 {
    background-color: var(--color-warning-700);
}

.bg-warning-800 {
    background-color: var(--color-warning-800);
}

.bg-warning-900 {
    background-color: var(--color-warning-900);
}

.bg-warning-950 {
    background-color: var(--color-warning-950);
}

.bg-success {
    background-color: var(--color-success-100);
}

.bg-success-50 {
    background-color: var(--color-success-50);
}

.bg-success-100 {
    background-color: var(--color-success-100);
}

.bg-success-200 {
    background-color: var(--color-success-200);
}

.bg-success-300 {
    background-color: var(--color-success-300);
}

.bg-success-400 {
    background-color: var(--color-success-400);
}

.bg-success-500 {
    background-color: var(--color-success-500);
}

.bg-success-600 {
    background-color: var(--color-success-600);
}

.bg-success-700 {
    background-color: var(--color-success-700);
}

.bg-success-800 {
    background-color: var(--color-success-800);
}

.bg-success-900 {
    background-color: var(--color-success-900);
}

.bg-success-950 {
    background-color: var(--color-success-950);
}

.bg-info {
    background-color: var(--color-info-100);
}

.bg-info-50 {
    background-color: var(--color-info-50);
}

.bg-info-100 {
    background-color: var(--color-info-100);
}

.bg-info-200 {
    background-color: var(--color-info-200);
}

.bg-info-300 {
    background-color: var(--color-info-300);
}

.bg-info-400 {
    background-color: var(--color-info-400);
}

.bg-info-500 {
    background-color: var(--color-info-500);
}

.bg-info-600 {
    background-color: var(--color-info-600);
}

.bg-info-700 {
    background-color: var(--color-info-700);
}

.bg-info-800 {
    background-color: var(--color-info-800);
}

.bg-info-900 {
    background-color: var(--color-info-900);
}

.bg-info-950 {
    background-color: var(--color-info-950);
}

.bg-white {
    background-color: var(--color-white-100);
    color: var(--color-black-800);
}

.bg-black {
    background-color: var(--color-black-900);
    color: var(--color-white-100);
}

.bg-dark {
    background-color: var(--color-black-800);
    color: var(--color-white-100);
}

.bg-blue {
    background-color: var(--color-blue-500);
    color: var(--color-white-100);
}

.bg-blue-50 {
    background-color: var(--color-blue-50);
    color: var(--color-black-900);
}

.bg-blue-100 {
    background-color: var(--color-blue-100);
    color: var(--color-black-900);
}

.bg-blue-200 {
    background-color: var(--color-blue-200);
    color: var(--color-black-900);
}

.bg-blue-300 {
    background-color: var(--color-blue-300);
    color: var(--color-black-900);
}

.bg-blue-400 {
    background-color: var(--color-blue-400);
    color: var(--color-black-900);
}

.bg-blue-600 {
    background-color: var(--color-blue-600);
    color: var(--color-white-100);
}

.bg-blue-700 {
    background-color: var(--color-blue-700);
    color: var(--color-white-100);
}

.bg-blue-800 {
    background-color: var(--color-blue-800);
    color: var(--color-white-100);
}

.bg-blue-900 {
    background-color: var(--color-blue-900);
    color: var(--color-white-100);
}

.bg-blue-950 {
    background-color: var(--color-blue-950);
    color: var(--color-white-100);
}

.bg-purple {
    background-color: var(--color-purple-500);
    color: var(--color-white-100);
}

.bg-purple-50 {
    background-color: var(--color-purple-50);
    color: var(--color-black-900);
}

.bg-purple-100 {
    background-color: var(--color-purple-100);
    color: var(--color-black-900);
}

.bg-purple-200 {
    background-color: var(--color-purple-200);
    color: var(--color-black-900);
}

.bg-purple-300 {
    background-color: var(--color-purple-300);
    color: var(--color-black-900);
}

.bg-purple-400 {
    background-color: var(--color-purple-400);
    color: var(--color-black-900);
}

.bg-purple-600 {
    background-color: var(--color-purple-600);
    color: var(--color-white-100);
}

.bg-purple-700 {
    background-color: var(--color-purple-700);
    color: var(--color-white-100);
}

.bg-purple-800 {
    background-color: var(--color-purple-800);
    color: var(--color-white-100);
}

.bg-purple-900 {
    background-color: var(--color-purple-900);
    color: var(--color-white-100);
}

.bg-purple-950 {
    background-color: var(--color-purple-950);
    color: var(--color-white-100);
}

.bg-red {
    background-color: var(--color-red-500);
    color: var(--color-white-100);
}

.bg-red-50 {
    background-color: var(--color-red-50);
    color: var(--color-black-900);
}

.bg-red-100 {
    background-color: var(--color-red-100);
    color: var(--color-black-900);
}

.bg-red-200 {
    background-color: var(--color-red-200);
    color: var(--color-black-900);
}

.bg-red-300 {
    background-color: var(--color-red-300);
    color: var(--color-black-900);
}

.bg-red-400 {
    background-color: var(--color-red-400);
    color: var(--color-black-900);
}

.bg-red-600 {
    background-color: var(--color-red-600);
    color: var(--color-white-100);
}

.bg-red-700 {
    background-color: var(--color-red-700);
    color: var(--color-white-100);
}

.bg-red-800 {
    background-color: var(--color-red-800);
    color: var(--color-white-100);
}

.bg-red-900 {
    background-color: var(--color-red-900);
    color: var(--color-white-100);
}

.bg-red-950 {
    background-color: var(--color-red-950);
    color: var(--color-white-100);
}

.bg-yellow {
    background-color: var(--color-yellow-500);
    color: var(--color-black-900);
}

.bg-yellow-50 {
    background-color: var(--color-yellow-50);
    color: var(--color-black-900);
}

.bg-yellow-100 {
    background-color: var(--color-yellow-100);
    color: var(--color-black-900);
}

.bg-yellow-200 {
    background-color: var(--color-yellow-200);
    color: var(--color-black-900);
}

.bg-yellow-300 {
    background-color: var(--color-yellow-300);
    color: var(--color-black-900);
}

.bg-yellow-400 {
    background-color: var(--color-yellow-400);
    color: var(--color-black-900);
}

.bg-yellow-600 {
    background-color: var(--color-yellow-600);
    color: var(--color-black-900);
}

.bg-yellow-700 {
    background-color: var(--color-yellow-700);
    color: var(--color-black-900);
}

.bg-yellow-800 {
    background-color: var(--color-yellow-800);
    color: var(--color-black-900);
}

.bg-yellow-900 {
    background-color: var(--color-yellow-900);
    color: var(--color-black-900);
}

.bg-yellow-950 {
    background-color: var(--color-yellow-950);
    color: var(--color-black-900);
}

.bg-green {
    background-color: var(--color-green-500);
    color: var(--color-white-100);
}

.bg-green-50 {
    background-color: var(--color-green-50);
    color: var(--color-black-900);
}

.bg-green-100 {
    background-color: var(--color-green-100);
    color: var(--color-black-900);
}

.bg-green-200 {
    background-color: var(--color-green-200);
    color: var(--color-black-900);
}

.bg-green-300 {
    background-color: var(--color-green-300);
    color: var(--color-black-900);
}

.bg-green-400 {
    background-color: var(--color-green-400);
    color: var(--color-black-900);
}

.bg-green-600 {
    background-color: var(--color-green-600);
    color: var(--color-white-100);
}

.bg-green-700 {
    background-color: var(--color-green-700);
    color: var(--color-white-100);
}

.bg-green-800 {
    background-color: var(--color-green-800);
    color: var(--color-white-100);
}

.bg-green-900 {
    background-color: var(--color-green-900);
    color: var(--color-white-100);
}

.bg-green-950 {
    background-color: var(--color-green-950);
    color: var(--color-white-100);
}

.bg-sea {
    background-color: var(--color-sea-500);
    color: var(--color-white-100);
}

.bg-sea-50 {
    background-color: var(--color-sea-50);
    color: var(--color-black-900);
}

.bg-sea-100 {
    background-color: var(--color-sea-100);
    color: var(--color-black-900);
}

.bg-sea-200 {
    background-color: var(--color-sea-200);
    color: var(--color-black-900);
}

.bg-sea-300 {
    background-color: var(--color-sea-300);
    color: var(--color-black-900);
}

.bg-sea-400 {
    background-color: var(--color-sea-400);
    color: var(--color-black-900);
}

.bg-sea-600 {
    background-color: var(--color-sea-600);
    color: var(--color-white-100);
}

.bg-sea-700 {
    background-color: var(--color-sea-700);
    color: var(--color-white-100);
}

.bg-sea-800 {
    background-color: var(--color-sea-800);
    color: var(--color-white-100);
}

.bg-sea-900 {
    background-color: var(--color-sea-900);
    color: var(--color-white-100);
}

.bg-sea-950 {
    background-color: var(--color-sea-950);
    color: var(--color-white-100);
}

/* Mobile Classes */

@media screen and (max-width: 1024px) {
    .w-3\/4 {
        width: 100%;
    }

    .font-8xl {
        font-size: var(--font-size-7xl);
    }

    .font-7xl {
        font-size: var(--font-size-6xl);
    }

    .font-6xl {
        font-size: var(--font-size-5xl);
    }

    .font-5xl {
        font-size: var(--font-size-4xl);
    }

    .font-4xl {
        font-size: var(--font-size-3xl);
    }

    .font-3xl {
        font-size: var(--font-size-2xl);
    }

    .font-2xl {
        font-size: var(--font-size-xl);
    }

    .font-xl {
        font-size: var(--font-size-lg);
    }

    .font-lg {
        font-size: var(--font-size-md);
    }

    .font-md {
        font-size: var(--font-size-sm);
    }

    .font-sm {
        font-size: var(--font-size-xs);
    }
}

@media screen and (max-width: 728px) {
    .w-3\/4 {
        width: 100%;
    }

    .font-8xl {
        font-size: var(--font-size-6xl);
    }

    .font-7xl {
        font-size: var(--font-size-5xl);
    }

    .font-6xl {
        font-size: var(--font-size-4xl);
    }

    .font-5xl {
        font-size: var(--font-size-3xl);
    }

    .font-4xl {
        font-size: var(--font-size-2xl);
    }

    .font-3xl {
        font-size: var(--font-size-xl);
    }

    .font-2xl {
        font-size: var(--font-size-lg);
    }

    .font-xl {
        font-size: var(--font-size-md);
    }

    .font-lg {
        font-size: var(--font-size-sm);
    }

    .font-md {
        font-size: var(--font-size-xs);
    }

    .font-sm {
        font-size: var(--font-size-2xs);
    }

    .image-link:before {
        opacity: 1;
    }
}